<a href="https://colab.research.google.com/github/KaylumCassidy/BMCA3/blob/main/TU912_4_Cassidy_Kaylum_C20323831_LabExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1

### Cork

In [7]:
import urllib.request
import json
from prettytable import PrettyTable

# Function to download and parse JSON file
def download_and_parse_json(url):
    with urllib.request.urlopen(url) as response:
        data = json.load(response)
    return data

# Download and parse Cork data
cork_data = download_and_parse_json('https://prodapi.metweb.ie/monthly-data/Cork')

# Display samples for Cork location using PrettyTable
def display_samples_cork(data):
    table = PrettyTable(['Year', 'Month', 'Rainfall (mm)'])
    for year, month_data in data['total_rainfall']['report'].items():
        for month, rainfall in month_data.items():
            if month != 'annual':
                table.add_row([year, month, rainfall])
    print(table)

# Display samples for Cork location
print("\nCork Samples:")
display_samples_cork(cork_data)

Cork Samples:
+------+-----------+---------------+
| Year |   Month   | Rainfall (mm) |
+------+-----------+---------------+
| 2023 |  january  |     134.6     |
| 2023 |  february |      15.2     |
| 2023 |    mar    |     211.4     |
| 2023 |    apr    |      52.0     |
| 2023 |    may    |      44.9     |
| 2023 |    june   |      50.3     |
| 2023 |    july   |     145.2     |
| 2023 |   august  |     117.8     |
| 2023 | september |     171.4     |
| 2023 |  october  |     307.2     |
| 2023 |  november |     108.2     |
| 2023 |  december |      61.5     |
| 2022 |  january  |      38.3     |
| 2022 |  february |     112.3     |
| 2022 |    mar    |      61.9     |
| 2022 |    apr    |      64.9     |
| 2022 |    may    |      35.7     |
| 2022 |    june   |      84.1     |
| 2022 |    july   |      28.1     |
| 2022 |   august  |      14.2     |
| 2022 | september |     162.7     |
| 2022 |  october  |     232.5     |
| 2022 |  november |     203.4     |
| 2022 |  december |     112.6     |
| 2021 |  january  |     121.8     |
| 2021 |  february |     235.9     |
| 2021 |    mar    |      67.5     |
| 2021 |    apr    |      18.2     |
| 2021 |    may    |     172.7     |
| 2021 |    june   |      37.4     |
| 2021 |    july   |      60.7     |
| 2021 |   august  |      65.0     |
| 2021 | september |      85.4     |
| 2021 |  october  |     197.6     |
| 2021 |  november |      34.2     |
| 2021 |  december |     148.0     |
| 2020 |  january  |     112.2     |
| 2020 |  february |     199.3     |
| 2020 |    mar    |      64.7     |
| 2020 |    apr    |      72.3     |
| 2020 |    may    |      68.8     |
| 2020 |    june   |      94.1     |
| 2020 |    july   |      97.6     |
| 2020 |   august  |     175.0     |
| 2020 | september |      58.2     |
| 2020 |  october  |     118.6     |
| 2020 |  november |     160.8     |
| 2020 |  december |     185.4     |
| LTA  |  january  |     131.4     |
| LTA  |  february |      97.8     |
| LTA  |    mar    |      97.6     |
| LTA  |    apr    |      76.5     |
| LTA  |    may    |      82.3     |
| LTA  |    june   |      80.9     |
| LTA  |    july   |      78.8     |
| LTA  |   august  |      96.8     |
| LTA  | september |      94.6     |
| LTA  |  october  |     138.2     |
| LTA  |  november |     120.0     |
| LTA  |  december |     133.1     |
+------+-----------+---------------+

In [58]:
import urllib.request
import json
import pandas as pd

# Function to download and parse JSON file
def download_and_parse_json(url):
    with urllib.request.urlopen(url) as response:
        data = json.load(response)
    return data

# Function to extract rainfall data for a specific year
def extract_rainfall_data_for_year(data, year):
    rainfall_data = []
    for month, rainfall in data['total_rainfall']['report'].get(year, {}).items():
        if month != 'annual':
            rainfall_data.append({'Year': year, 'Month': month, 'Rainfall (mm)': rainfall})
    return rainfall_data

# Download and parse Cork data
cork_data = download_and_parse_json('https://prodapi.metweb.ie/monthly-data/Cork')

# Extract rainfall data for 2021
cork_rainfall_2021 = extract_rainfall_data_for_year(cork_data, '2021')

# Print the extracted data to the screen
print("\nCork Rainfall Data for 2021:")
for entry in cork_rainfall_2021:
    print(entry)

# Save the data to Part_I.csv
df_cork_2021 = pd.DataFrame(cork_rainfall_2021)
df_cork_2021.to_csv("Part_I.csv", index=False)

# Load Part_I.csv into a DataFrame
df_part_i = pd.read_csv("Part_I.csv")

# Choose one column (e.g., 'Rainfall (mm)') and read information from the result of the describe() function
rainfall_description_part_i = df_part_i["Rainfall (mm)"].describe()
print(f"\nDescribe for Rainfall (mm) column in Part_I.csv:\n{rainfall_description_part_i}")

Cork Rainfall Data for 2021:
{'Year': '2021', 'Month': 'january', 'Rainfall (mm)': '121.8'}
{'Year': '2021', 'Month': 'february', 'Rainfall (mm)': '235.9'}
{'Year': '2021', 'Month': 'mar', 'Rainfall (mm)': '67.5'}
{'Year': '2021', 'Month': 'apr', 'Rainfall (mm)': '18.2'}
{'Year': '2021', 'Month': 'may', 'Rainfall (mm)': '172.7'}
{'Year': '2021', 'Month': 'june', 'Rainfall (mm)': '37.4'}
{'Year': '2021', 'Month': 'july', 'Rainfall (mm)': '60.7'}
{'Year': '2021', 'Month': 'august', 'Rainfall (mm)': '65.0'}
{'Year': '2021', 'Month': 'september', 'Rainfall (mm)': '85.4'}
{'Year': '2021', 'Month': 'october', 'Rainfall (mm)': '197.6'}
{'Year': '2021', 'Month': 'november', 'Rainfall (mm)': '34.2'}
{'Year': '2021', 'Month': 'december', 'Rainfall (mm)': '148.0'}

Describe for Rainfall (mm) column in Part_I.csv:
count     12.000000
mean     103.700000
std       70.629224
min       18.200000
25%       54.875000
50%       76.450000
75%      154.175000
max      235.900000
Name: Rainfall (mm), dtype: float64

### Dublin

In [45]:
pip install urllib3 prettytable pandas

Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (2.0.7)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (3.9.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable) (0.2.12)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [52]:
import urllib.request
import csv
from prettytable import PrettyTable
import pandas as pd

def download_and_parse_csv(url):
    response = urllib.request.urlopen(url)
    lines = [line.decode('utf-8') for line in response.readlines()]

    # Find the index where the data starts
    data_start_index = lines.index("year,month,ind,rain,gdf,rd,wd\n") + 1

    # Extract data lines
    data_lines = [line.strip().split(',') for line in lines[data_start_index:] if line.strip()]

    return data_lines

def print_weather_data(data, location):
    table = PrettyTable()
    table.field_names = ["Year", "Month", "Rainfall (mm)"]

    for row in data[:10]:
        year, month, _, rain, _, _, _ = row  # Extracting relevant columns
        table.add_row([year, month, rain])

    print(f"10 samples of weather data for {location}:")
    print(table)
    print("\n")

def extract_rainfall_data(data, year, location):
    result = []
    for row in data:
        if row[0] == year:
            result.append([location] + row)

    return result

def save_to_csv(data, filename):
    with open(filename, 'w', newline='') as csvfile:
        csv_writer = csv.writer(csvfile)
        csv_writer.writerows(data)

def main():
    # Download and parse Dublin data
    dublin_data = download_and_parse_csv("https://cli.fusio.net/cli/climate_data/webdata/mly2523.csv")

    # Print 10 samples
    print_weather_data(dublin_data, "Dublin")

    # Extract rainfall data for 2021
    dublin_2021 = extract_rainfall_data(dublin_data, "2021", "Dublin")

    # Save to Part_I_Dublin.csv
    save_to_csv(dublin_2021, "Part_I_Dublin.csv")

    # Load Part_I_Dublin.csv into dataframe with proper header skipping the first row
    df = pd.read_csv("Part_I_Dublin.csv", header=None, skiprows=1, names=["Location", "Year", "Month", "Indicator", "Rainfall", "Greatest Daily Fall", "Rain Days", "Wet Days"])

    # Print actual column names in the DataFrame
    print("Actual column names in the DataFrame:", df.columns)

    # Describe the data for the "Rainfall" column (use the correct column name)
    rainfall_description = df["Rainfall"].describe()
    print(f"Describe for Rainfall (mm) column:\n{rainfall_description}")

if __name__ == "__main__":
    main()

10 samples of weather data for Dublin:
+------+-------+---------------+
| Year | Month | Rainfall (mm) |
+------+-------+---------------+
| 1941 |   1   |     112.8     |
| 1941 |   2   |      69.5     |
| 1941 |   3   |     111.0     |
| 1941 |   4   |      68.6     |
| 1941 |   5   |      66.4     |
| 1941 |   6   |      13.6     |
| 1941 |   7   |      33.4     |
| 1941 |   8   |      58.2     |
| 1941 |   9   |      19.6     |
| 1941 |   10  |      51.2     |
+------+-------+---------------+


Actual column names in the DataFrame: Index(['Location', 'Year', 'Month', 'Indicator', 'Rainfall',
       'Greatest Daily Fall', 'Rain Days', 'Wet Days'],
      dtype='object')
Describe for Rainfall (mm) column:
count    11.000000
mean     49.900000
std      31.291277
min      10.900000
25%      21.350000
50%      48.800000
75%      76.700000
max      93.700000
Name: Rainfall, dtype: float64

### London

In [57]:
import urllib.request
import csv
from prettytable import PrettyTable
import pandas as pd

# Function to download and parse txt file
def download_and_parse_txt(url):
    with urllib.request.urlopen(url) as response:
        data = response.read().decode('utf-8').split('\n')
    return data

# Download and parse London Heathrow data
london_heathrow_data = download_and_parse_txt('https://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/heathrowdata.txt')

# Display samples for London Heathrow location using PrettyTable
def display_samples_london_heathrow(data):
    table = PrettyTable(['Year', 'Month', 'Rainfall (mm)'])
    for row in data[7:]:
        yyyy, mm, tmax, tmin, af, rain, sun, *_ = row.split()
        table.add_row([yyyy, mm, rain])
    print(table)


# Display samples for London Heathrow location
print("\nLondon Heathrow Airport Samples:")
display_samples_london_heathrow(london_heathrow_data)

# Extract rainfall data for 2020
london_heathrow_2020 = [row for row in london_heathrow_data[7:] if row.split()[0] == '2020']

# Save to Part_I_London_Heathrow.csv
with open("Part_I_London_Heathrow.csv", 'w', newline='') as csvfile:
    csv_writer = csv.writer(csvfile)
    csv_writer.writerows([["Location", "Year", "Month", "Rainfall (mm)"]] + [["London Heathrow"] + row.split()[:3] for row in london_heathrow_2020])

# Load Part_I_London_Heathrow.csv into dataframe with proper header skipping the first row
df_london_heathrow = pd.read_csv("Part_I_London_Heathrow.csv")

# Print actual column names in the DataFrame
print("Actual column names in the London Heathrow DataFrame:", df_london_heathrow.columns)

# Describe the data for the "Rainfall" column (use the correct column name)
rainfall_description_london_heathrow = df_london_heathrow["Rainfall (mm)"].describe()
print(f"\nDescribe for London Heathrow Airport Rainfall (mm) column:\n{rainfall_description_london_heathrow}")

London Heathrow Airport Samples:
+------+-------+---------------+
| Year | Month | Rainfall (mm) |
+------+-------+---------------+
| 1948 |   1   |      85.0     |
| 1948 |   2   |      26.0     |
| 1948 |   3   |      14.0     |
| 1948 |   4   |      35.0     |
| 1948 |   5   |      57.0     |
| 1948 |   6   |      67.0     |
| 1948 |   7   |      21.0     |
| 1948 |   8   |      67.0     |
| 1948 |   9   |      35.0     |
| 1948 |   10  |      50.0     |
| 1948 |   11  |      44.0     |
| 1948 |   12  |      63.0     |
| 1949 |   1   |      23.0     |
| 1949 |   2   |      27.0     |
| 1949 |   3   |      26.1     |
| 1949 |   4   |      34.2     |
| 1949 |   5   |      56.9     |
| 1949 |   6   |      9.0      |
| 1949 |   7   |      46.5     |
| 1949 |   8   |      26.3     |
| 1949 |   9   |      23.3     |
| 1949 |   10  |     139.6     |
| 1949 |   11  |      53.4     |
| 1949 |   12  |      33.0     |
| 1950 |   1   |      16.8     |
| 1950 |   2   |      82.2     |
| 1950 |   3   |      17.4     |
| 1950 |   4   |      54.8     |
| 1950 |   5   |      41.8     |
| 1950 |   6   |      44.6     |
| 1950 |   7   |      91.8     |
| 1950 |   8   |      68.8     |
| 1950 |   9   |      63.3     |
| 1950 |   10  |      10.9     |
| 1950 |   11  |     108.2     |
| 1950 |   12  |      40.2     |
| 1951 |   1   |      71.3     |
| 1951 |   2   |     121.4     |
| 1951 |   3   |      86.0     |
| 1951 |   4   |      60.6     |
| 1951 |   5   |      53.0     |
| 1951 |   6   |      26.9     |
| 1951 |   7   |      33.8     |
| 1951 |   8   |      95.5     |
| 1951 |   9   |      66.3     |
| 1951 |   10  |      23.5     |
| 1951 |   11  |     132.6     |
| 1951 |   12  |      36.9     |
| 1952 |   1   |      47.0     |
| 1952 |   2   |      16.1     |
| 1952 |   3   |      65.3     |
| 1952 |   4   |      39.9     |
| 1952 |   5   |      57.1     |
| 1952 |   6   |      30.0     |
| 1952 |   7   |      12.2     |
| 1952 |   8   |      63.5     |
| 1952 |   9   |      70.8     |
| 1952 |   10  |      69.8     |
| 1952 |   11  |      79.4     |
| 1952 |   12  |      66.0     |
| 1953 |   1   |      21.2     |
| 1953 |   2   |      31.4     |
| 1953 |   3   |      8.5      |
| 1953 |   4   |      53.7     |
| 1953 |   5   |      32.4     |
| 1953 |   6   |      34.8     |
| 1953 |   7   |      75.3     |
| 1953 |   8   |      39.0     |
| 1953 |   9   |      47.4     |
| 1953 |   10  |      65.7     |
| 1953 |   11  |      28.6     |
| 1953 |   12  |      13.3     |
| 1954 |   1   |      23.5     |
| 1954 |   2   |      51.5     |
| 1954 |   3   |      51.3     |
| 1954 |   4   |      8.9      |
| 1954 |   5   |      52.6     |
| 1954 |   6   |      95.3     |
| 1954 |   7   |      62.1     |
| 1954 |   8   |      87.5     |
| 1954 |   9   |      58.1     |
| 1954 |   10  |      54.1     |
| 1954 |   11  |      95.5     |
| 1954 |   12  |      46.6     |
| 1955 |   1   |      50.2     |
| 1955 |   2   |      35.0     |
| 1955 |   3   |      22.8     |
| 1955 |   4   |      7.2      |
| 1955 |   5   |     103.2     |
| 1955 |   6   |      52.1     |
| 1955 |   7   |      7.1      |
| 1955 |   8   |      17.8     |
| 1955 |   9   |      42.7     |
| 1955 |   10  |      87.7     |
| 1955 |   11  |      30.1     |
| 1955 |   12  |      46.7     |
| 1956 |   1   |      88.6     |
| 1956 |   2   |      2.3      |
| 1956 |   3   |      15.0     |
| 1956 |   4   |      29.1     |
| 1956 |   5   |      4.2      |
| 1956 |   6   |      41.5     |
| 1956 |   7   |     130.5     |
| 1956 |   8   |      99.5     |
| 1956 |   9   |      50.0     |
| 1956 |   10  |      74.1     |
| 1956 |   11  |      10.1     |
| 1956 |   12  |      70.3     |
| 1957 |   1   |      39.5     |
| 1957 |   2   |      69.8     |
| 1957 |   3   |      25.4     |
| 1957 |   4   |      5.7      |
| 1957 |   5   |      21.3     |
| 1957 |   6   |      22.4     |
| 1957 |   7   |      87.0     |
| 1957 |   8   |      86.2     |
| 1957 |   9   |      51.7     |
| 1957 |   10  |      47.0     |
| 1957 |   11  |      59.5     |
| 1957 |   12  |      42.1     |
| 1958 |   1   |      64.3     |
| 1958 |   2   |      58.7     |
| 1958 |   3   |      26.0     |
| 1958 |   4   |      29.5     |
| 1958 |   5   |      59.5     |
| 1958 |   6   |     104.3     |
| 1958 |   7   |      51.9     |
| 1958 |   8   |      75.2     |
| 1958 |   9   |      83.8     |
| 1958 |   10  |      50.7     |
| 1958 |   11  |      50.7     |
| 1958 |   12  |      85.1     |
| 1959 |   1   |      54.8     |
| 1959 |   2   |      2.4      |
| 1959 |   3   |      43.8     |
| 1959 |   4   |      52.9     |
| 1959 |   5   |      21.9     |
| 1959 |   6   |      16.2     |
| 1959 |   7   |      86.5     |
| 1959 |   8   |      27.6     |
| 1959 |   9   |      5.1      |
| 1959 |   10  |      46.9     |
| 1959 |   11  |      53.5     |
| 1959 |   12  |      75.7     |
| 1960 |   1   |      47.9     |
| 1960 |   2   |      48.0     |
| 1960 |   3   |      33.9     |
| 1960 |   4   |      12.4     |
| 1960 |   5   |      45.6     |
| 1960 |   6   |      42.8     |
| 1960 |   7   |      67.2     |
| 1960 |   8   |      60.8     |
| 1960 |   9   |      75.3     |
| 1960 |   10  |     155.5     |
| 1960 |   11  |      89.5     |
| 1960 |   12  |      56.5     |
| 1961 |   1   |      64.4     |
| 1961 |   2   |      55.1     |
| 1961 |   3   |      5.7      |
| 1961 |   4   |      50.8     |
| 1961 |   5   |      17.2     |
| 1961 |   6   |      29.2     |
| 1961 |   7   |      26.2     |
| 1961 |   8   |      47.6     |
| 1961 |   9   |      64.7     |
| 1961 |   10  |      56.8     |
| 1961 |   11  |      52.5     |
| 1961 |   12  |      88.6     |
| 1962 |   1   |      76.1     |
| 1962 |   2   |      12.6     |
| 1962 |   3   |      35.8     |
| 1962 |   4   |      41.8     |
| 1962 |   5   |      29.6     |
| 1962 |   6   |      6.1      |
| 1962 |   7   |      82.8     |
| 1962 |   8   |      52.9     |
| 1962 |   9   |      88.4     |
| 1962 |   10  |      37.6     |
| 1962 |   11  |      41.7     |
| 1962 |   12  |      52.8     |
| 1963 |   1   |      12.9     |
| 1963 |   2   |      6.6      |
| 1963 |   3   |      68.2     |
| 1963 |   4   |      52.1     |
| 1963 |   5   |      33.7     |
| 1963 |   6   |      48.3     |
| 1963 |   7   |      28.1     |
| 1963 |   8   |      53.4     |
| 1963 |   9   |      49.0     |
| 1963 |   10  |      34.7     |
| 1963 |   11  |     118.8     |
| 1963 |   12  |      16.1     |
| 1964 |   1   |      17.8     |
| 1964 |   2   |      16.8     |
| 1964 |   3   |      95.1     |
| 1964 |   4   |      73.5     |
| 1964 |   5   |      46.1     |
| 1964 |   6   |     110.1     |
| 1964 |   7   |      20.2     |
| 1964 |   8   |      21.2     |
| 1964 |   9   |      11.1     |
| 1964 |   10  |      29.2     |
| 1964 |   11  |      29.6     |
| 1964 |   12  |      29.9     |
| 1965 |   1   |      43.0     |
| 1965 |   2   |      8.3      |
| 1965 |   3   |      58.0     |
| 1965 |   4   |      44.8     |
| 1965 |   5   |      39.5     |
| 1965 |   6   |      54.6     |
| 1965 |   7   |      85.9     |
| 1965 |   8   |      55.9     |
| 1965 |   9   |     109.4     |
| 1965 |   10  |      18.8     |
| 1965 |   11  |      65.4     |
| 1965 |   12  |      87.3     |
| 1966 |   1   |      32.6     |
| 1966 |   2   |      73.4     |
| 1966 |   3   |      12.2     |
| 1966 |   4   |      98.6     |
| 1966 |   5   |      50.5     |
| 1966 |   6   |      66.7     |
| 1966 |   7   |      78.0     |
| 1966 |   8   |      86.2     |
| 1966 |   9   |      36.7     |
| 1966 |   10  |     122.1     |
| 1966 |   11  |      41.7     |
| 1966 |   12  |      62.5     |
| 1967 |   1   |      36.4     |
| 1967 |   2   |      48.6     |
| 1967 |   3   |      35.7     |
| 1967 |   4   |      44.1     |
| 1967 |   5   |     102.1     |
| 1967 |   6   |      51.0     |
| 1967 |   7   |      73.5     |
| 1967 |   8   |      47.4     |
| 1967 |   9   |      59.5     |
| 1967 |   10  |     103.8     |
| 1967 |   11  |      42.3     |
| 1967 |   12  |      54.0     |
| 1968 |   1   |      65.1     |
| 1968 |   2   |      25.3     |
| 1968 |   3   |      22.6     |
| 1968 |   4   |      44.2     |
| 1968 |   5   |      80.8     |
| 1968 |   6   |      54.9     |
| 1968 |   7   |      79.4     |
| 1968 |   8   |      68.2     |
| 1968 |   9   |     131.4     |
| 1968 |   10  |      64.2     |
| 1968 |   11  |      44.3     |
| 1968 |   12  |      74.9     |
| 1969 |   1   |      71.7     |
| 1969 |   2   |      45.0     |
| 1969 |   3   |      56.0     |
| 1969 |   4   |      20.3     |
| 1969 |   5   |      59.5     |
| 1969 |   6   |      26.6     |
| 1969 |   7   |      68.7     |
| 1969 |   8   |      93.0     |
| 1969 |   9   |      3.1      |
| 1969 |   10  |      5.1      |
| 1969 |   11  |      68.7     |
| 1969 |   12  |      46.1     |
| 1970 |   1   |      67.7     |
| 1970 |   2   |      39.9     |
| 1970 |   3   |      37.6     |
| 1970 |   4   |      59.5     |
| 1970 |   5   |      25.1     |
| 1970 |   6   |      70.1     |
| 1970 |   7   |      53.0     |
| 1970 |   8   |      53.6     |
| 1970 |   9   |      49.8     |
| 1970 |   10  |      10.4     |
| 1970 |   11  |     151.2     |
| 1970 |   12  |      38.5     |
| 1971 |   1   |      70.5     |
| 1971 |   2   |      16.6     |
| 1971 |   3   |      42.4     |
| 1971 |   4   |      47.3     |
| 1971 |   5   |      76.7     |
| 1971 |   6   |     127.7     |
| 1971 |   7   |      19.3     |
| 1971 |   8   |      64.4     |
| 1971 |   9   |      11.1     |
| 1971 |   10  |      57.6     |
| 1971 |   11  |      63.9     |
| 1971 |   12  |      21.0     |
| 1972 |   1   |      55.3     |
| 1972 |   2   |      43.4     |
| 1972 |   3   |      54.0     |
| 1972 |   4   |      38.3     |
| 1972 |   5   |      25.9     |
| 1972 |   6   |      15.4     |
| 1972 |   7   |      27.2     |
| 1972 |   8   |      15.4     |
| 1972 |   9   |      27.6     |
| 1972 |   10  |      17.3     |
| 1972 |   11  |      57.7     |
| 1972 |   12  |      66.7     |
| 1973 |   1   |      13.1     |
| 1973 |   2   |      12.5     |
| 1973 |   3   |      10.4     |
| 1973 |   4   |      58.1     |
| 1973 |   5   |      54.2     |
| 1973 |   6   |      68.8     |
| 1973 |   7   |      49.1     |
| 1973 |   8   |      40.9     |
| 1973 |   9   |      60.7     |
| 1973 |   10  |      38.6     |
| 1973 |   11  |      26.6     |
| 1973 |   12  |      52.3     |
| 1974 |   1   |      53.0     |
| 1974 |   2   |      57.8     |
| 1974 |   3   |      27.2     |
| 1974 |   4   |      15.2     |
| 1974 |   5   |      22.4     |
| 1974 |   6   |      67.2     |
| 1974 |   7   |      29.8     |
| 1974 |   8   |      67.8     |
| 1974 |   9   |     140.0     |
| 1974 |   10  |      71.9     |
| 1974 |   11  |     142.8     |
| 1974 |   12  |      34.4     |
| 1975 |   1   |      92.3     |
| 1975 |   2   |      23.0     |
| 1975 |   3   |      69.7     |
| 1975 |   4   |      43.6     |
| 1975 |   5   |      62.9     |
| 1975 |   6   |      23.2     |
| 1975 |   7   |      36.3     |
| 1975 |   8   |      13.3     |
| 1975 |   9   |     111.2     |
| 1975 |   10  |      23.2     |
| 1975 |   11  |      58.0     |
| 1975 |   12  |      29.1     |
| 1976 |   1   |      13.9     |
| 1976 |   2   |      21.1     |
| 1976 |   3   |      11.3     |
| 1976 |   4   |      9.9      |
| 1976 |   5   |      19.3     |
| 1976 |   6   |      6.3      |
| 1976 |   7   |      15.4     |
| 1976 |   8   |      16.4     |
| 1976 |   9   |      96.6     |
| 1976 |   10  |      93.0     |
| 1976 |   11  |      81.7     |
| 1976 |   12  |      72.3     |
| 1977 |   1   |      63.5     |
| 1977 |   2   |      65.3     |
| 1977 |   3   |      56.8     |
| 1977 |   4   |      32.7     |
| 1977 |   5   |      37.3     |
| 1977 |   6   |      52.4     |
| 1977 |   7   |      10.4     |
| 1977 |   8   |     150.3     |
| 1977 |   9   |      15.3     |
| 1977 |   10  |      48.1     |
| 1977 |   11  |      51.3     |
| 1977 |   12  |      55.5     |
| 1978 |   1   |      68.8     |
| 1978 |   2   |      40.9     |
| 1978 |   3   |      58.9     |
| 1978 |   4   |      45.4     |
| 1978 |   5   |      78.5     |
| 1978 |   6   |      38.1     |
| 1978 |   7   |      65.5     |
| 1978 |   8   |      53.6     |
| 1978 |   9   |      17.1     |
| 1978 |   10  |      1.6      |
| 1978 |   11  |      8.2      |
| 1978 |   12  |     108.6     |
| 1979 |   1   |      59.9     |
| 1979 |   2   |      44.0     |
| 1979 |   3   |      94.9     |
| 1979 |   4   |      77.6     |
| 1979 |   5   |      87.0     |
| 1979 |   6   |      37.6     |
| 1979 |   7   |      21.7     |
| 1979 |   8   |      33.4     |
| 1979 |   9   |      20.8     |
| 1979 |   10  |      68.7     |
| 1979 |   11  |      48.2     |
| 1979 |   12  |      90.7     |
| 1980 |   1   |      29.7     |
| 1980 |   2   |      36.8     |
| 1980 |   3   |      72.1     |
| 1980 |   4   |      21.6     |
| 1980 |   5   |      26.1     |
| 1980 |   6   |     106.2     |
| 1980 |   7   |      59.3     |
| 1980 |   8   |      52.3     |
| 1980 |   9   |      27.7     |
| 1980 |   10  |      96.5     |
| 1980 |   11  |      26.4     |
| 1980 |   12  |      33.4     |
| 1981 |   1   |      32.7     |
| 1981 |   2   |      11.9     |
| 1981 |   3   |      90.8     |
| 1981 |   4   |      32.4     |
| 1981 |   5   |      79.8     |
| 1981 |   6   |      39.5     |
| 1981 |   7   |      56.7     |
| 1981 |   8   |      45.3     |
| 1981 |   9   |      94.6     |
| 1981 |   10  |      76.5     |
| 1981 |   11  |      34.1     |
| 1981 |   12  |      85.3     |
| 1982 |   1   |      38.0     |
| 1982 |   2   |      31.6     |
| 1982 |   3   |      51.5     |
| 1982 |   4   |      22.8     |
| 1982 |   5   |      71.9     |
| 1982 |   6   |      84.6     |
| 1982 |   7   |      24.5     |
| 1982 |   8   |      39.7     |
| 1982 |   9   |      39.6     |
| 1982 |   10  |     109.1     |
| 1982 |   11  |      72.9     |
| 1982 |   12  |      63.6     |
| 1983 |   1   |      47.2     |
| 1983 |   2   |      31.0     |
| 1983 |   3   |      33.7     |
| 1983 |   4   |     101.5     |
| 1983 |   5   |      72.9     |
| 1983 |   6   |      12.0     |
| 1983 |   7   |      50.3     |
| 1983 |   8   |      11.4     |
| 1983 |   9   |      42.9     |
| 1983 |   10  |      41.7     |
| 1983 |   11  |      39.5     |
| 1983 |   12  |      50.9     |
| 1984 |   1   |      73.3     |
| 1984 |   2   |      32.9     |
| 1984 |   3   |      73.4     |
| 1984 |   4   |      5.4      |
| 1984 |   5   |      90.9     |
| 1984 |   6   |      36.1     |
| 1984 |   7   |      19.2     |
| 1984 |   8   |      27.8     |
| 1984 |   9   |      73.4     |
| 1984 |   10  |      82.8     |
| 1984 |   11  |      69.8     |
| 1984 |   12  |      56.7     |
| 1985 |   1   |      41.3     |
| 1985 |   2   |      29.8     |
| 1985 |   3   |      34.1     |
| 1985 |   4   |      33.3     |
| 1985 |   5   |      64.7     |
| 1985 |   6   |      88.9     |
| 1985 |   7   |      35.2     |
| 1985 |   8   |      58.9     |
| 1985 |   9   |      11.2     |
| 1985 |   10  |      18.4     |
| 1985 |   11  |      30.0     |
| 1985 |   12  |      80.5     |
| 1986 |   1   |     105.6     |
| 1986 |   2   |      14.5     |
| 1986 |   3   |      43.5     |
| 1986 |   4   |      60.7     |
| 1986 |   5   |      52.3     |
| 1986 |   6   |      17.2     |
| 1986 |   7   |      54.6     |
| 1986 |   8   |      66.7     |
| 1986 |   9   |      22.8     |
| 1986 |   10  |      72.4     |
| 1986 |   11  |      66.1     |
| 1986 |   12  |      60.6     |
| 1987 |   1   |      11.1     |
| 1987 |   2   |      32.4     |
| 1987 |   3   |      42.7     |
| 1987 |   4   |      39.9     |
| 1987 |   5   |      54.1     |
| 1987 |   6   |      69.9     |
| 1987 |   7   |      77.3     |
| 1987 |   8   |      57.2     |
| 1987 |   9   |      36.9     |
| 1987 |   10  |     174.8     |
| 1987 |   11  |      43.3     |
| 1987 |   12  |      14.4     |
| 1988 |   1   |     106.9     |
| 1988 |   2   |      26.0     |
| 1988 |   3   |      59.5     |
| 1988 |   4   |      27.7     |
| 1988 |   5   |      41.6     |
| 1988 |   6   |      44.3     |
| 1988 |   7   |      76.2     |
| 1988 |   8   |      60.9     |
| 1988 |   9   |      27.8     |
| 1988 |   10  |      56.3     |
| 1988 |   11  |      16.0     |
| 1988 |   12  |      8.9      |
| 1989 |   1   |      26.0     |
| 1989 |   2   |      40.2     |
| 1989 |   3   |      56.6     |
| 1989 |   4   |      64.2     |
| 1989 |   5   |      12.1     |
| 1989 |   6   |      35.5     |
| 1989 |   7   |      36.7     |
| 1989 |   8   |      55.7     |
| 1989 |   9   |      10.8     |
| 1989 |   10  |      52.8     |
| 1989 |   11  |      23.8     |
| 1989 |   12  |     119.3     |
| 1990 |   1   |      71.1     |
| 1990 |   2   |      92.3     |
| 1990 |   3   |      6.9      |
| 1990 |   4   |      29.7     |
| 1990 |   5   |      4.1      |
| 1990 |   6   |      39.5     |
| 1990 |   7   |      6.9      |
| 1990 |   8   |      26.8     |
| 1990 |   9   |      24.9     |
| 1990 |   10  |      49.7     |
| 1990 |   11  |      22.1     |
| 1990 |   12  |      51.4     |
| 1991 |   1   |      69.7     |
| 1991 |   2   |      34.7     |
| 1991 |   3   |      25.9     |
| 1991 |   4   |      52.8     |
| 1991 |   5   |      9.1      |
| 1991 |   6   |      88.6     |
| 1991 |   7   |      92.9     |
| 1991 |   8   |      26.0     |
| 1991 |   9   |      43.7     |
| 1991 |   10  |      18.5     |
| 1991 |   11  |      59.3     |
| 1991 |   12  |      12.0     |
| 1992 |   1   |      12.6     |
| 1992 |   2   |      17.7     |
| 1992 |   3   |      38.5     |
| 1992 |   4   |      57.1     |
| 1992 |   5   |      94.5     |
| 1992 |   6   |      22.5     |
| 1992 |   7   |      62.3     |
| 1992 |   8   |      84.7     |
| 1992 |   9   |      77.3     |
| 1992 |   10  |      59.4     |
| 1992 |   11  |      86.9     |
| 1992 |   12  |      35.9     |
| 1993 |   1   |      63.1     |
| 1993 |   2   |      2.4      |
| 1993 |   3   |      16.0     |
| 1993 |   4   |      75.3     |
| 1993 |   5   |      31.8     |
| 1993 |   6   |      43.9     |
| 1993 |   7   |      35.0     |
| 1993 |   8   |      23.8     |
| 1993 |   9   |      96.3     |
| 1993 |   10  |     123.0     |
| 1993 |   11  |      29.5     |
| 1993 |   12  |      73.8     |
| 1994 |   1   |      80.0     |
| 1994 |   2   |      42.6     |
| 1994 |   3   |      40.0     |
| 1994 |   4   |      52.8     |
| 1994 |   5   |      80.6     |
| 1994 |   6   |      17.0     |
| 1994 |   7   |      16.9     |
| 1994 |   8   |      32.2     |
| 1994 |   9   |      86.3     |
| 1994 |   10  |      76.0     |
| 1994 |   11  |      43.1     |
| 1994 |   12  |      63.3     |
| 1995 |   1   |     113.7     |
| 1995 |   2   |      71.9     |
| 1995 |   3   |      49.5     |
| 1995 |   4   |      16.9     |
| 1995 |   5   |      30.0     |
| 1995 |   6   |      11.1     |
| 1995 |   7   |      20.3     |
| 1995 |   8   |      0.3      |
| 1995 |   9   |      95.0     |
| 1995 |   10  |      19.2     |
| 1995 |   11  |      28.5     |
| 1995 |   12  |      82.8     |
| 1996 |   1   |      41.5     |
| 1996 |   2   |      49.0     |
| 1996 |   3   |      31.4     |
| 1996 |   4   |      25.0     |
| 1996 |   5   |      25.8     |
| 1996 |   6   |      12.0     |
| 1996 |   7   |      28.8     |
| 1996 |   8   |      45.8     |
| 1996 |   9   |      22.0     |
| 1996 |   10  |      35.4     |
| 1996 |   11  |      91.0     |
| 1996 |   12  |      13.0     |
| 1997 |   1   |      10.3     |
| 1997 |   2   |      55.1     |
| 1997 |   3   |      11.4     |
| 1997 |   4   |      9.8      |
| 1997 |   5   |      28.2     |
| 1997 |   6   |      78.6     |
| 1997 |   7   |      34.6     |
| 1997 |   8   |      70.5     |
| 1997 |   9   |      6.8      |
| 1997 |   10  |      44.9     |
| 1997 |   11  |      47.1     |
| 1997 |   12  |      47.4     |
| 1998 |   1   |      68.6     |
| 1998 |   2   |      6.6      |

## Q2

In [61]:
import pandas as pd
import re

# Load the Excel file
file_path = 'Brickset_products.xlsx'  # Replace with the actual file path
df = pd.read_excel(file_path)

# Question 1
print("Question 1:")
print("Column Names:")
print(df.columns)
print("\nSummary:")
print(df.info())

Question 1:
Column Names:
Index(['Index', 'Title', 'URL', 'Theme', 'Subtheme', 'Pieces', 'Packaging',
       'Price', 'Set Type', 'Set number', 'Name', 'Set type', 'Theme group',
       'Year released', 'Launch/exit', 'Minifigs', 'Designer', 'RRP',
       'Current value', 'Age range', 'Dimensions', 'LEGO item numbers',
       'Availability', 'Rating', 'Weight'],
      dtype='object')

Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              600 non-null    int64
 1   Title              600 non-null    object
 2   URL                600 non-null    object
 3   Theme              600 non-null    object
 4   Subtheme           395 non-null    object
 5   Pieces             600 non-null    object
 6   Packaging          600 non-null    object
 7   Price              416 non-null    object
 8   Set Type           600 non-null    object
 9   Set number         597 non-null    object
 10  Name               597 non-null    object
 11  Set type           597 non-null    object
 12  Theme group        597 non-null    object
 13  Year released      597 non-null    float64
 14  Launch/exit        508 non-null    object
 15  Minifigs           349 non-null    object
 16  Designer           199 non-null    object
 17  RRP                445 non-null    object
 18  Current value      433 non-null    object
 19  Age range          407 non-null    object
 20  Dimensions         535 non-null    object
 21  LEGO item numbers  569 non-null    object
 22  Availability       448 non-null    object
 23  Rating             580 non-null    object
 24  Weight             242 non-null    object
dtypes: float64(1), int64(1), object(23)
memory usage: 117.3+ KB
None

In [31]:
# Question 2
print("\nQuestion 2:")
# Convert 'Age range' to numeric, coercing errors to NaN for non-convertible values
df['Age range'] = pd.to_numeric(df['Age range'], errors='coerce')
print("Missing values count in Age range column:", df['Age range'].isnull().sum())
average_age = df['Age range'].mean()
df['Age range'].fillna(average_age, inplace=True)

Question 2:
Missing values count in Age range column: 600

In [37]:
# Question 3
print("\nQuestion 3:")
def convert_to_euro(price):
    if pd.notna(price):
        # Extract the numeric part and currency symbol
        numeric_part = float(re.search(r'\d+\.\d+', price).group())
        currency_symbol = re.search(r'[$]', price).group()

        # Convert to EURO based on exchange rates (assuming 1 = 1.17, 1$ = 0.85)
        exchange_rates = {'': 1.17, '$': 0.85, '': 1}
        euro_price = numeric_part * exchange_rates[currency_symbol]
        return euro_price
    else:
        return pd.NA

# Apply the function to create the new 'RRPinEURO' column
df['RRPinEURO'] = df['RRP'].apply(convert_to_euro)
# Display the DataFrame with the new 'RRPinEURO' column
print(df[['Title', 'RRP', 'RRPinEURO']].head())

Question 3:
                           Title                          RRP  RRPinEURO
0             10251:  Brick Bank  129.99 / $169.99 / 149.99   152.0883
1      10252:  Volkswagen Beetle     74.99 / $99.99 / 87.72    87.7383
2                10253:  Big Ben  179.99 / $249.99 / 219.99   210.5883
3   10254:  Winter Holiday Train     74.99 / $99.99 / 89.99    87.7383
4  10654:  XL Creative Brick Box              49.99 / 59.99    58.4883

In [40]:


# Question 4
print("\nQuestion 4:")
df['Rating'] = df['Rating'].str.extract(r'(\d+\.\d+)', expand=False)


print(df['Rating'])

Question 4:
0      4.4
1      4.3
2      4.3
3      4.1
4      4.0
      ...
577    4.8
578    4.6
579    NaN
580    NaN
585    NaN
Name: Rating, Length: 445, dtype: object

In [42]:
# Question 5
print("\nQuestion 5:")
df = df.dropna(subset=['RRPinEURO'])
result_df = df[['Title', 'Pieces', 'RRPinEURO', 'Year released']]  # Use 'Year released' instead of 'Year'
result_df.to_excel('Part3_Result.xlsx', index=False)

print("New update file saved as 'Part3_Result.xlsx'")

Question 5:
New update file saved as 'Part3_Result.xlsx'

In [29]:

# Question 6
# Let's say we are interested in a scatter plot between 'Pieces' and 'RRPinEURO'
import matplotlib.pyplot as plt

print("\nQuestion 6:")
plt.scatter(df['Pieces'], df['RRPinEURO'])
plt.xlabel('Pieces')
plt.ylabel('RRPinEURO')
plt.title('Scatter Plot: Pieces vs RRPinEURO')
plt.show()

Question 1:
Column Names:
Index(['Index', 'Title', 'URL', 'Theme', 'Subtheme', 'Pieces', 'Packaging',
       'Price', 'Set Type', 'Set number', 'Name', 'Set type', 'Theme group',
       'Year released', 'Launch/exit', 'Minifigs', 'Designer', 'RRP',
       'Current value', 'Age range', 'Dimensions', 'LEGO item numbers',
       'Availability', 'Rating', 'Weight'],
      dtype='object')

Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              600 non-null    int64
 1   Title              600 non-null    object
 2   URL                600 non-null    object
 3   Theme              600 non-null    object
 4   Subtheme           395 non-null    object
 5   Pieces             600 non-null    object
 6   Packaging          600 non-null    object
 7   Price              416 non-null    object
 8   Set Type           600 non-null    object
 9   Set number         597 non-null    object
 10  Name               597 non-null    object
 11  Set type           597 non-null    object
 12  Theme group        597 non-null    object
 13  Year released      597 non-null    float64
 14  Launch/exit        508 non-null    object
 15  Minifigs           349 non-null    object
 16  Designer           199 non-null    object
 17  RRP                445 non-null    object
 18  Current value      433 non-null    object
 19  Age range          407 non-null    object
 20  Dimensions         535 non-null    object
 21  LEGO item numbers  569 non-null    object
 22  Availability       448 non-null    object
 23  Rating             580 non-null    object
 24  Weight             242 non-null    object
dtypes: float64(1), int64(1), object(23)
memory usage: 117.3+ KB
None

Question 2:
Missing values count in Age range column: 600

Question 3:

Question 4:

Question 5:

KeyError: ignored